.title{
    align-items: center;
    h{
       
        
       
        
    }
    
    h1{
       
          color: red;
          align-items: center;
    }

    li{
       background-color: salmon;
    }
    
}