.title{
    align-items: center;
    h{
       
        
        background-color: #e3e3;
        
    }
    
    h1{
        position: top;
          color: red;
          align-items: center;
    }
    
}