.title{ padding: 10px;
    
    tbody{
        


        tr{
          
           
            
            th{
                margin-bottom: 50px;
                color: red;
                align-items: left;
               
            }
               
        }

        tr{
            


            td{
                margin-right: 50px;
                color: blue;
            }
        }
    }
}