.title{
    
    tbody{
        


        tr{
           

            th{
                color: red;
                align-items: left;
            }
               
        }

        tr{
            


            td{
                margin-right: 50px;
                color: blue;
            }
        }
    }
}