.title{
    h{
        align-items: center;
        display: flex;
        background-color: #e3e3;
        margin-left: 500px;
        margin-top: 200px;
        margin-right: 300px;
    }
    
    h1{
          color: red;
    }
    
}