.title{ padding: 50px;

    
    tr.linha{
        
       justify-content: space-between;
       align-items: center;
        border: 1px;
        border-color: black;
        border-style: solid;

       td{
        padding: 10px;
        
       }
      
    }
    tr.linha0{
        
        
        justify-content: stretch;
       align-items: center;

       td{
        padding: 10px;
       }
      
    }

}