.title{
    tbody{



        thread{
            justify-content: space-between;

            th{
                color: red;
            }
               
        }

        tr{



            td{
                color: blue;
            }
        }
    }
}