.title{
    tbody{



        tr{
            

            th{
                color: red;
                align-items: left;
            }
               
        }

        tr{
            border: 30 0 30 0;


            td{
               
                color: blue;
            }
        }
    }
}