.title{
    tbody{



        tr{
            

            th{
                color: red;
                align-items: left;
            }
               
        }

        tr{
            


            td{
               border-right: 1rem;
                color: blue;
            }
        }
    }
}