.title{
    tbody{



        thr{
            border-right: 100px;

            th{
                color: red;
            }
               
        }

        tr{



            td{
                color: blue;
            }
        }
    }
}