.title{ padding: 10px;
    li.ldisplay: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
      
    }
    li.linha0{
        display: flex;

        justify-content: stretch;
       align-items: center;
      
    }

}