.title{
    tbody{



        thread{
            

            th{
                color: red;
                justify-content: space-between;
            }
        }

        tr{



            td{
                color: blue;
            }
        }
    }
}