.title{ padding: 10px;
    tr.linha{
        display: flex;
       justify-content: space-between;
       align-items: center;
      
    }
    tr.linha0{
        display: flex;
        
        justify-content: stretch;
       align-items: center;
      
    }

}