.title{ padding: 50px;
    div.pesquisa{
        display: flex;
        justify-content: right;
        align-items: center;

        input{
            height: 50px;
            width: 100px;
        }
        p{
           
        }
    }
    
    tr.linha{
        
       
      
        border: 1px;
        border-color: black;
        border-style: solid;

       td{
        
        border: 1px;
        border-color: black;
        border-style: solid;

        align-items: center;
       }
      
    }
    tr.linha0{
        border: 1px;
        border-color: black;
        border-style: solid;
        
        justify-content: stretch;
       

       td{
        padding-right: 30px;
        border: 1px;
        border-color: black;
        border-style: solid;
        align-items: left;
       }
      
    }

}